@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
}
.contenedor{
    width: 100%;
	max-width: 1400px;
    margin: auto;
    display: grid;
    justify-content: center;


}
.carta-ropa{
    border-radius: 10px;
    padding: 50px;
	font-weight: bold;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	overflow: hidden;
    position: relative;
    opacity: 95%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:  350px;
    height: 350px;
}
.carta-ropa{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.carta-ropa:hover{
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.texto a{
   color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    

}
.contenedor-ropa{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
body{
    background-image: url(./recursos/fondo.jpg);
     
}

/*Icono carrito */