*{
    padding: 0;
    margin: 0;
}
td{
    padding: 70px;
    
  
    color: black;
    font-size: medium;

    box-shadow: 5px 5px 5px #aaaaaa;
    
}
tr{
    margin-top: 20px;
}
.divTabla{
    text-align: center;
}