*{
    padding: 0;
    margin: 0;
}
.contenedor{
    width: 100%;
	max-width: 1400px;
    margin: auto;
    display: grid;
    justify-content: center;


}
.carta-ropa{
    border-radius: 10px;
    padding: 50px;
	font-weight: bold;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	overflow: hidden;
    position: relative;
    

    
    
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: left;

    width: 200px;

}
.carta-ropa .texto {
    align-self: flex-end;
    color: red;
	padding: 5px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
 
}
.contenedor-ropa{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
body{
    background-image: url(olga-thelavart-vS3idIiYxX0-unsplash.jpg);
     
}