@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.UlMenu{
    list-style-type: none;
    
    padding: 15px;
    display:inline-block;
   
    
}
li {
    display: inline;
    margin: 0px 30px;
   
    font-size: 18px;
   
  }
.navOpcionUsuario{
    color:red;
    
    display:inline-block;
}
.fitoLogo{
    display: inline-block;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}
.spanFito{
    color: red;
}
.topAviso{
    background-color: black;
    color: white;
    text-align: center;
    padding: 6px;
    font-size: 15px;
    margin: 0;
}
.cuadro{
    border: 1px blue dotted; padding: 10px 5px;
}
footer{
    padding: 100px;
    background-color: black;
    color: white;
    margin-top: 300px;
}

/*Menu desplegable*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }